/* Projects.css */
.competitions-section {
  opacity: 0;
  transform: translateX(-100px); /* start off to the left */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.competitions-section.slide-in {
  opacity: 1;
  transform: translateX(0); /* slide to normal position */
}

.competitions-section h1 {
  font-family: 'Rowdies', sans-serif;
  font-size: 4rem;
  text-decoration: underline;     
  text-align: center;  
  margin-bottom: 2rem;
}

@media (max-width: 640px) {
  .competitions-section h1 {
    font-size: 1.7rem;
  }
}
